<a href="https://colab.research.google.com/github/nishantanandsingh/pca-project/blob/master/Assinmentday1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List and it's Default Funcation

In [0]:
#list without any values
List1 = []
print(List1)

[]

In [0]:
#list with values 
List2 = ['N','I','S','H','A','N','T']
print(List2)

['N', 'I', 'S', 'H', 'A', 'N', 'T']

In [0]:
#append(): Adding Element in list
List1.append('2')
print(List1)

['2']

In [0]:
#insert(): Inserts an elements at specified position
List1.insert(1,"Nishant")
print(List1)

['2', 'Nishant']

In [0]:
#extend(): Adds contents to 2nd List to the end of 1st List
List1.extend(List2)
print(List1)

['2', 'Nishant', 'N', 'I', 'S', 'H', 'A', 'N', 'T']

In [0]:
#sum() : Calculate sum of all the elements of List(only for Numeric values)
List3 = [1,2,5,6,4,1,7,8,1]
print(sum(List3))

35

In [0]:
# count():Calculates total occurrence of given element of List
print(List3.count(1))

3

In [0]:
#length:Calculates total length of List
print(len(List2))

7

In [0]:
#index(): Returns the index of first occurrence. Start and End index are not necessary parameters
print(List3.index(1))

0

In [0]:
#min() : Calculates minimum of all the elements of List
print(min(List3))

1

In [0]:
#max(): Calculates maximum of all the elements of List
print(max(List3))

8

In [0]:
#sort(): Sort the given data  in ascending order (reverse=True)
List3.sort(reverse=True)
print(List3)

[8, 7, 6, 5, 4, 2, 1, 1, 1]

In [0]:
#pop(): Index is not a necessary, if not mentioned takes the last index
print(List2.pop())

T

In [0]:
#del() : Element to be deleted is mentioned using list name and index
del List3[0]
print(List3)

[7, 6, 5, 4, 2, 1, 1, 1]

In [0]:
#remove(): Element to be deleted is mentioned using list name and element
List3.remove(4) 
print(List3)

[7, 6, 5, 2, 1, 1, 1]

Dictionary and it's Default Funcation

In [0]:
# Creating a Dictionary  
Dict = {1: 'Nishant', 2: 'Anand', 3: 'Singh',4:'Rajput'}
print(Dict)

{1: 'Nishant', 2: 'Anand', 3: 'Singh', 4: 'Rajput'}

In [0]:
# Adding elements in dictionary
Dict[5]='Hello'
print(Dict)

{1: 'Nishant', 2: 'Anand', 3: 'Singh', 4: 'Rajput', 5: 'Hello'}

In [0]:
# Updating existing Key's Value 
Dict[4] = 'Hii'
print(Dict)

{1: 'Nishant', 2: 'Anand', 3: 'Singh', 4: 'Hii', 5: 'Hello'}

In [0]:
# accessing a element of dictionary using key 
print(Dict[5])

Hello

In [0]:
# accessing a element using Get function
print(Dict.get(3))

Singh

In [0]:
# Deleting a Key value using del
del Dict[5]
print(Dict)

{1: 'Nishant', 2: 'Anand', 3: 'Singh', 4: 'Hii'}

In [0]:
# Deleting a key using pop() method 
pop_ele = Dict.pop(4)
print(pop_ele)
print(Dict)

KeyError: ignored

In [0]:
# Deleting an arbitrary key using popitem() function 
pop_ele = Dict.popitem()
print(pop_ele)
print(Dict)

(3, 'Singh')
{1: 'Nishant', 2: 'Anand'}

In [0]:
# Deleting entire Dictionary key value pairs
Dict.clear() 
print(Dict)

{}

Set and it's Default Funcation

In [0]:
# initializing list and converse in set
List1 = [ 3, 4, 7, 1, 4, 5 ] 
print(List1)
print(set(List1))

[3, 4, 7, 1, 4, 5]
{1, 3, 4, 5, 7}

In [0]:
# initializing tuple and converse in set
Tup1 = (3, 4, 1, 4, 5)
print(Tup1)
print(set(Tup1))

(3, 4, 1, 4, 5)
{1, 3, 4, 5}

In [0]:
# initialize set
Set = {1,3}
print(Set)

{1, 3}

In [0]:
#add: add an element
Set.add(2)
print(Set)

{1, 2, 3}

In [0]:
#update: add list and set in a set
Set.update([4,5], {1,6,8})
print(Set)

{1, 2, 3, 4, 5, 6, 8}

In [0]:
# discard: remove  an element from set
Set.discard(4)
print(Set)

{1, 2, 3, 5, 6, 8}

In [0]:
#remove : remove  an element from set
Set.remove(6)
print(Set)

{1, 2, 3, 5, 8}

In [0]:
#pop: pop an element from set
print(Set.pop())
print(Set)

1
{2, 3, 5, 8}

In [0]:
# clear: remove all element from set
Set.clear()
print(Set)

set()

In [0]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
# use | operator it is same as union()
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [0]:
C = {1, 2, 3, 4, 5}
D = {4, 5, 6, 7, 8}
# union:it is same as math union function
print(C.union(D))

{1, 2, 3, 4, 5, 6, 7, 8}

In [0]:
E = {1, 2, 3, 4, 5}
F = {4, 5, 6, 7, 8}
# use & operator it is same as intersection()
print(E & F)

{4, 5}

In [0]:
#intersection():use intersection function on A
G = {1, 2, 3, 4, 5}
H = {4, 5, 6, 7, 8}
# union:it is same as math union function
print(G.intersection(H))

{4, 5}